@using JwtProjeto.Web.Components.Layout
@using JwtProjeto.Models.Models;
@using Microsoft.AspNetCore.Components.Authorization
@using JwtProjeto.Web.Authentication;
@page "/login"
@layout EmptyLayout
@inject ApiClient apiClient
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<div class="p-5">
    <EditForm Model="loginModel" FormName="Login" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="username">Username</label>
            <InputText id="username" class="form-control" @bind-Value="loginModel.UserName" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" class="form-control" @bind-Value="loginModel.Password" />
        </div>
        <button type="submit" class="btn btn-primary mt-3">Login</button>

    </EditForm>
</div>



@code
{
    private LoginModel loginModel = new LoginModel();
    private async Task HandleLogin()
    {
        var res = await apiClient.PostAsync<LoginResponseModel, LoginModel>("/api/auth/login", loginModel);
        if (res is not null && res.Token is not null)
        {
            await ((CustomAuthStateProvider)authenticationStateProvider).MarkUserAsAuthenticated(res);
            navigationManager.NavigateTo("/");
        }
    }
}
